.logo-container{
  position: relative;
  margin-left: 20px;
}
.logo{
  background: #E5873C;
  position: absolute;
  bottom: 50%;
  text-align: center;
}
.logo1{
  animation: MoveUpDown1 1s linear infinite;
  left: 0;
}
.logo2{
  animation: MoveUpDown2 1.8s linear infinite;
  left: 20px;
}
.logo3{
  animation: MoveUpDown3 2s linear infinite;
  left: 40px;
}
.logo4{
  animation: MoveUpDown4 1.6s linear infinite;
  left: 60px;
}
@keyframes MoveUpDown1 {
  0% {
    bottom: 50%;
  }
  50% {
    bottom: 80px;
  }
  100% {
    bottom: 50%;
  }
}
@keyframes MoveUpDown2 {
  0% {
    bottom: 50%;
  }
  50% {
    bottom: 70px;
  }
  100% {
    bottom: 50%;
  }
}
@keyframes MoveUpDown3 {
  0% {
    bottom: 50%;
  }
  50% {
    bottom: 40px;
  }
  100% {
    bottom: 50%;
  }
}
@keyframes MoveUpDown4 {
  0% {
    bottom: 50%;
  }
  50% {
    bottom: 60px;
  }
  100% {
    bottom: 50%;
  }
}