@media(max-width: 1280px) {
    
    .actionBtnColn {
        min-width: 300px;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    .actionBtn {
        min-width: 70px !important;
    }

    .actionBtn span {
        padding-left: 0 !important;
        padding-right: 0 !important;
        font-size: 12px !important;
    }
}

@media(max-width: 767px) {

    .app-content {
        padding-left: 0px;
    }

    .padding-left {
        padding-left: 0px;
    }

    .report-page-input-div {
        text-align: center;
        width: 100vw;
    }

    .page-tab-div {
        width: 100vw;
    }

    .center-div-two-radio-group {
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-70%);
        -ms-transform: translateX(-70%);
        transform: translateX(-70%);
    }
}