*,:after,:before{-webkit-box-sizing:inherit;box-sizing:inherit}html{-webkit-box-sizing:border-box;box-sizing:border-box}
*{/*user-select:none;*/-webkit-tap-highlight-color:rgba(255,255,255,0);-webkit-tap-highlight-color:transparent}
[contenteditable],input[type]{-webkit-user-select:text;-moz-user-select:text;-ms-user-select:text;user-select:text}body,h1,h2,h3,h4,h5,h6,p{margin:0;font-size:1rem;font-weight:400}
a{text-decoration:none;color:inherit}b{font-weight:400}em,i{font-style:normal}a:focus,input:focus{outline:0}
fieldset,input{-webkit-appearance:none;-moz-appearance:none;appearance:none;border:0;padding:0;margin:0;min-width:0;font-size:1rem;font-family:inherit}
input::-ms-clear{display:none}input[type=number]{-moz-appearance:textfield}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{-webkit-appearance:none;appearance:none}
svg{display:-webkit-inline-box;display:-ms-inline-flexbox;display:inline-flex}img{max-width:100%;display:block}

html {
    color: #030303;
    font: caption;
    padding-bottom: 2em;
}

a {
    color: #1f4ba0;
    text-decoration: underline;
}

<!-- header section -->

header {
    background-color: #eee;
    padding: 10px;
    border-bottom: solid #ccc 2px;
    display:table;
    width:100%;
}

.header-bar {
    background-color: #eee;
    padding: 10px;
    border-bottom: solid #ccc 2px;
    display:table;
    width:100%;
}

header .logo {
    display: block;
    margin: 0 auto;
    max-width: 400px;
    width: 100%;
}


.site-title {
    font-size: 1.5em;
    float: left;
}

.site-user {
    float: right;
}


/*<!-- side menu section -->*/

nav.side_nav {
}

nav.side_nav {
    float:left;
    width: 200px;
    display:table-cell;
}

.side_nav_link {
    padding: 0.8em;
    color:black;
    display:block;
    text-decoration:none;
}

.side_nav_link:hover {
    background-color: #f2f2f2;
}

.side_nav_link.active {
    background-color: #809fff;
    color: white;
}

.side_nav_link:hover{
    background-color: #809fff;
}



/*<!-- footer section --> */

footer {
    margin: 4em auto;
    padding: 2em;
    text-align: center;
    max-width: 800px;
    width: 100%;
}

footer p {
    line-height: 1.2em;
    margin: 0 0 1em 0;
    text-align: center;
}


/*<!-- not found section --> */

.not-found {
    margin: 0 auto;
    max-width: 800px;
    padding: 2em;
    text-align: center;
    width: 100%;
}

.not-found h1 {
    font-size: 3em;
    font-weight: bold;
}

.not-found h2 {
    font-size: 2em;
    font-weight: bold;
}


/*<!-- General Page setup -->*/
div.page-content {
    padding: 10px;
    width: calc(100vw - 170px);
}

div.page-title {}
div.page-title {
    padding:10px;
}

p.page-title {
    font-size:20px;
}




/*<!-- Home Page Section -->*/

.home {}
.home {
    padding-top: 2em;
}

.home-modules {}
.home-modules {
    text-align: center;
    margin-bottom: 20px;
}


/*<!-- Message Page Section --> */



.message-form {
    margin-bottom:10px;
}

.message-search {
    padding:10px;
    margin-left:10px;
}

.message-date-input {
    border: 1px solid gray;
    margin-right:10px;
    margin-left:5px;
    padding:2px;
}

.message-search-button {
    border: 1px solid gray;
    margin-left:10px;
    padding: 5px;
}

.message-form-row1 {
    margin-bottom:10px;
}

.message-phone {
    border: 1px solid gray;
    margin-right:10px;
    margin-left:5px;
    padding:2px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.message-select-limit {
    margin-left:25px;
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid #cccccc;
}

td, th {
    padding: 10px;
}

.message-table {
    float:left;
    margin-bottom:20px;
}

.message-table-head {
    text-align:center;
    background-color:#e6e6e6;
}


.message-table-row {
    text-align:center;
    background-color:#f9f9f9;
}


<!--

.home .athletes-selector {
    clear: both;
    padding: 2em;
    text-align: center;
}

.home .athletes-selector .athlete-preview {
    border: 1px solid #ccc;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    display: inline-block;
    margin: 0 1em 1em 0;
    max-width: 200px;
    padding: 0;
    position: relative;
    width: 100%;
}

.home .athletes-selector .athlete-preview img {
    margin: 0;
    width: 100%;
}

.home .athletes-selector .athlete-preview .name {
    color: #030303;
    display: inline-block;
    font-size: 1.6em;
    overflow: hidden;
    padding: .2em;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.home .athletes-selector .athlete-preview .medals-count {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    font-weight: bold;
    margin: .2em;
    padding: .2em .4em;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    vertical-align: middle;
}

nav.athletes-menu {
    margin: 0 auto;
    max-width: 800px;
    padding: 2em;
    text-align: center;
    width: 100%;
}


nav.athletes-menu a {
    font-size: 1.6em;
    margin: 0 1em 1em 0;
}

nav.athletes-menu a.active {
    color: #030303;
    text-decoration: none;
}

.athlete {
    border: 1px solid #ccc;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
}

.athlete header {
    background: #ccc;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 200px;
}

.athlete .picture-container {
    margin: -160px 0 0 0;
    padding: 0 1em 0 1em;
}

.athlete .picture-container img {
    border-radius: 4px;
    border: 8px solid #fff;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    display: inline;
    margin: 0 0 0 1em;
    width: 200px;
}

.athlete .picture-container h2 {
    display: inline;
    font-size: 3em;
    padding: 0 0 0 .5em;
    width: auto;
}

.athlete .flag .icon {
    display: inline-block;
    padding-bottom: .1em;
    width: auto;
}

.athlete .description,
.athlete .medals {
    font-size: 1.6em;
    padding: 1em;
}

.athlete .medals p {
    font-size: 1em;
}

.athlete .medals li {
    list-style: none;
}

.athlete .medals .symbol {
    border-radius: 50%;
    display: inline-block;
    font-size: .8em;
    height: 1.6em;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 5px;
    text-align: center;
    width: 1.6em;
}

.athlete .medals .symbol.symbol-G {
    color: #daa520;
    background-color: #fff6de;
    border: 2px solid #daa520;
}

.athlete .medals .symbol.symbol-S {
    color: #383738;
    background-color: #b9b5b5;
    border: 2px solid #383738;
}

.athlete .medals .symbol.symbol-B {
    color: #6b1919;
    background-color: #ea96a1;
    border: 2px solid #6E1924;
}


-->



.navigateBack {
    font-size: 1.6em;
    padding: 2em;
    text-align: center;
    text-decoration: none;
}

#abar {
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
}

#abar a {
    background: #ffa500;
    color: #000;
    display: block;
    font-weight: bold;
    margin: 0;
    padding: 1em;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

#abar a:hover {
    text-decoration: underline;
}


/*new css class */

html,body {  /* eliminate the right white space of page*/
    margin:0;
    padding:0;
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.app-container {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}

.main_content {
    display:inline-block;
    width:100%
}

.app-content {
    padding-left: 180px;
    padding-top: 10px;
    height: calc(94vh - 64px);
    display: inline-block;
}

.Footer {
    height: 6vh;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}



section.module:last-child {
    margin-bottom: 0;
}
section.module h2 {
    margin-bottom: 40px;
    font-family: "Roboto Slab", serif;
    font-size: 30px;
}
section.module p {
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: 300;
}
section.module p:last-child {
    margin-bottom: 0;
}
section.module.content {
    padding: 40px 0;
}
section.module.parallax {
    padding: 240px 0;
    background-position: 0 0;
}
section.module.parallax h1 {
    color: #FFFFFF;
    font-size: 48px;
    line-height: 1;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 10px white;
}

section.module.parallax h2 {
    color: #FFFFFF;
    font-size: 38px;
    margin-top: 30px;
    line-height: 1;
    font-weight: 700;
    text-align: center;
    text-shadow: 0 0 10px white;
}

section.module.parallax-1 {
    height: 100vh;
    width: 100vw;
    background: url('../img/background2.jpg') no-repeat center;
    background-size: cover;
}

section.module.parallax-2 {
    height: 100vh;
    background: url('../img/root_page_img2.jpg') no-repeat 0 -70%;
}

.seperate-line {
    width: 60vw;
    border-bottom: 2px solid #f44336;
}

#china {
    transition: all 1.1s ease-in-out;
}

#china:hover {
    transform: scale(1.1, 1.1);
}

#canada {
    transition: all .9s ease-in-out;
}

#canada:hover {
    transform: scale(1.1, 1.1);
}


#two_row_two_col_grid {

    margin-top: 50px;
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: auto auto;
    width: 100vw;
    justify-items: center;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
}

#three_row_one_col_grid {

    margin-top: 20px;
    display: grid;
    grid-template-columns: 50vw;
    grid-template-rows: auto auto auto;
    width: 50vw;
    justify-items: center;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
}

#one_row_two_col_grid {

    margin-top: 20px;
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: auto;
    width: 100vw;
    justify-items: center;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
}


.first_section-enter {
    opacity: 0.01;
}

.first_section-enter.first_section-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.first_section-leave {
    opacity: 1;
}

.first_section-leave.first_section-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

.first_section-appear {
    opacity: 0.01;
}

.first_section-appear.first_section-appear-active {
    opacity: 1;
    transition: opacity 1.2s ease-in;
}